body {
    display: inline-block;
    font-family:'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

@media(min-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
    }
    
    .container {
        display: flex;
        flex-direction: row;
    }
}

