<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <title>Trackgenix</title>
    </head>
    <body>
        <div class="container">
            <aside class="container-aside">
                <div>
                    <input type="text" placeholder="Search...">
                    <nav>
                        <section>
                            <ul class="nav-menu">
                                <li><a href="#"><img src="../assets/HomeIcon.png" alt="home icon"> Homepage</a></li>
                                <li><a href="../views/sign-up.html"><img src="../assets/PersonIcon.png" alt="person icon"> Sign up</a></li>
                                <li><a href="../views/login.html"><img src="../assets/2PersonIcon.png" alt="2 person icon"> Log in</a></li>
                            </ul>
                            <ul class="nav-submenu">
                                <li class="submenu-text"><a href="#">Submenu</a>
                                    <ul class="submenu-options">
                                        <li><a href="#">Option 1</a></li>
                                        <li><a href="#">Option 2</a></li>
                                        <li><a href="#">Option 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </section>
                    </nav>
                </div>
                <section class="aside-bottom">
                    <h2>Contact us:</h2>
                    <div class="contact-container">
                        <img src="../assets/MailIcon.png" alt="mail icon">
                        <p>
                            sampletext@gmail.com
                        </p>
                    </div>
                    <div class="contact-container">
                        <img src="../assets/BuildingIcon.png" alt="building icon">
                        <p>
                            Av. 18 de Julio 5555, Montevideo, Uruguay
                        </p>
                    </div>
                </section>
            </aside>
            <main>
                <header>
                    <div class="top-header">
                        <section class="social-media-header">
                            <a href="https://www.linkedin.com/"><img src="../assets/LinkedInIcon.png" alt="Li icon"></a>
                            <a href="https://www.instagram.com/"><img src="../assets/InstagramIcon.png" alt="IG icon"></a>
                            <a href="https://www.facebook.com/"><img src="../assets/FacebookIcon.png" alt="FB icon"></a>
                            <a href="https://twitter.com/"><img src="../assets/Twittericon.png" alt="TW icon"></a>         
                        </section>
                        <div class="img-header">
                            <div class="dot-menu">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                            <div>
                                <img src="../assets/descriptive.jpg" alt="A person in a work place" class="header-img">
                            </div>
                        </div>
                    </div>
                    <div class="header-title">
                        <h1>Trackgenix</h1>
                        <p class="paragraph-desktop"> By GigaTech Software Solutions</p>
                    </div>
                    <div class="header-description">
                        <p> By GigaTech Software Solutions</p>
                    </div>
                </header>
                <section class="main-part">
                    <section class="main-first-part">
                        <div class="main-img-container">
                            <section class="main-img">
                                <h2>Keep track of your employees progress easily</h2>
                                <img src="../assets/descriptive.jpg" alt="A person in a work enviroment">
                            </section>
                            <section class="management-software">
                                <p>
                                    Our HR management software will allow you to have a traceability of your employees,
                                    manage teams easily and take your leadership to the next level.
                                </p>
                            </section>
                        </div>
                        <div class="middle-container">
                            <article class="main-why">
                                <h2>Why Trackgenix?</h2>
                                <p class="paragraph-why">
                                    We seek to make the management of the different areas of the companies work in a 
                                    much simpler and more efficient way. Our goal is to reduce and optimize 
                                    considerably the costs associated with the fulfillment of the working day.
                                </p>
                                <p class="paragraph-why">
                                    We work by streamlining your administrative processes and giving you management 
                                    tools that dynamize your sales and improve your quality of service.
                                </p>
                                <p class="paragraph-why">
                                    With this software you will no longer have to worry about compliance control, since
                                    it is a productivity enhancer that will allow you to focus on what is important:
                                </p>
                                <h3>DOING YOUR BUSINESS</h3>
                            </article>
                            <section class="circles-container">
                                <section class="side-circles"> 
                                    <p>Productivity <span>enhancer</span></p>
                                </section>
                                <section class="side-circles">
                                    <p>Progress <span>tracker</span></p>
                                </section>
                                <section class="side-circles">
                                    <p><span>Leadership</span> and team management</p>
                                </section>
                                <section class="side-circles">
                                    <p>Decision <span>making</span></p>
                                </section>
                            </section>
                        </div>
                        <section class="square-container">
                            <section class="square-buttons">
                                <a href="#">
                                    <h3>
                                        Hour log
                                    </h3>
                                    <img src="../assets/hourlog.png" alt="hour icon">
                                </a>
                            </section>
                            <section class="square-buttons">
                                <a href="#">
                                    <h3>
                                        Reports
                                    </h3>
                                    <img src="../assets/reports.png" alt="reports icon">
                                </a>
                            </section>
                            <section class="square-buttons">
                                <a href="#">
                                    <h3>
                                        Resource management
                                    </h3>
                                    <img src="../assets/resourcem.png" alt="resources icon">
                                </a>
                            </section>
                            <section class="square-buttons">
                                <a href="#">
                                    <h3>
                                        Multiple roles
                                    </h3>
                                    <img src="../assets/multipleroles.png" alt="multipleroles icon">
                                </a>
                            </section>
                        </section>
                    </section>
                    <section class="square-container-tablet">
                        <section class="square-buttons">
                            <a href="#">
                                <h3>
                                    Hour log
                                </h3>
                                <img src="../assets/hourlog.png" alt="hour icon">
                            </a>
                        </section>
                        <section class="square-buttons">
                            <a href="#">
                                <h3>
                                    Reports
                                </h3>
                                <img src="../assets/reports.png" alt="reports icon">
                            </a>
                        </section>
                        <section class="square-buttons">
                            <a href="#">
                                <h3>
                                    Resource management
                                </h3>
                                <img src="../assets/resourcem.png" alt="resources icon">
                            </a>    
                        </section>
                        <section class="square-buttons">
                            <a href="#">
                                <h3>
                                    Multiple roles
                                </h3>
                                <img src="../assets/multipleroles.png" alt="multipleroles icon">
                            </a>
                        </section>
                    </section>
                    <section class="main-second-part">
                        <h2>How GigaTech was born</h2>
                        <div class="second-part-container">
                            <p class="paragraph-born">
                                In 2021, a journey began in Montevideo, Uruguay. Fulanito Mengano Rodriguez, our 
                                beloved CEO and founder of the company, noticed the business he worked for could
                                use some help and started giving out Excel sheets to his fellow teammates in order
                                to manage their teams efficiently. Eventually, it became a business idea on its own.
                            </p>
                            <p class="paragraph-born">
                                Since then, we have been striving to help improve  our customers productivity rates,
                                branching out into software solutions of all kinds. Our patented strategies and 
                                diversity of layout sheets have enabled us to reach over 150 companies in the span of
                                only 6 months, granting us the title of Fastest Growing Company of 2022 in the 
                                Trackathon Awards for companies in the field of Logistics. 
                            </p>
                        </div>
                    </section>
                    <section class="form-container">
                        <h3>Request system information</h3>
                        <form action="" class="my-form">
                            <fieldset class="form-group">
                                <label for="name">Name</label>
                                <input type="text" id="name" placeholder="Enter your name" required>
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" placeholder="Enter your email" required>
                            </fieldset>
                            <fieldset class="form-group">
                                <p>Contact area</p>
                                <label for="contact-area"></label>
                                <input type="radio" id="contact-area" name="contact-area" checked>Human Resources
                                <input type="radio" id="contact-area" name="contact-area">Systems
                                <input type="radio" id="contact-area" name="contact-area">Marketing
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="textarea">Message</label>
                                <textarea placeholder="Enter your message" cols="15" rows="5"></textarea>
                            </fieldset>
                            <section>
                                <button type="submit">Request information</button>
                            </section>
                        </form>
                    </section>
                    <section class="main-second-part-tablet">
                        <h2>How GigaTech was born</h2> 
                        <div class="second-part-container">
                            <p class="paragraph-born">
                                In 2021, a journey began in Montevideo, Uruguay. Fulanito Mengano Rodriguez, our 
                                beloved CEO and founder of the company, noticed the business he worked for could
                                use some help and started giving out Excel sheets to his fellow teammates in order
                                to manage their teams efficiently. Eventually, it became a business idea on its own.
                            </p>
                            <p class="paragraph-born">
                                Since then, we have been striving to help improve  our customers productivity rates,
                                branching out into software solutions of all kinds. Our patented strategies and 
                                diversity of layout sheets have enabled us to reach over 150 companies in the span of
                                only 6 months, granting us the title of Fastest Growing Company of 2022 in the 
                                Trackathon Awards for companies in the field of Logistics.
                            </p>
                        </div>
                    </section>
                    <section class="bottom-container">
                        <section class="main-bottom">
                            <h3>Our product</h3>
                            <ul>
                                <li>
                                    <a href="#">Features</a>
                                </li>
                                <li>
                                    <a href="#">Downloads</a>
                                </li>
                                <li>
                                    <a href="#">Integrations</a>
                                </li>
                                <li>
                                    <a href="#">Extras</a>
                                </li>
                            </ul>
                        </section>
                        <section class="main-bottom">
                            <h3>Company</h3>
                            <ul>
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Customers</a>
                                </li>
                                <li>
                                    <a href="#">Resources</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                            </ul>
                        </section>
                        <section class="main-bottom">
                            <h3>Support</h3>
                            <ul>
                                <li>
                                    <a href="#">Help</a>
                                </li>
                                <li>
                                    <a href="#">Tutorials</a>
                                </li>
                                <li>
                                    <a href="#">API</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </section>
                    </section>
                    <section class="contact-us-container">
                        <h2>Contact us:</h2>
                        <div class="contact-bottom">
                            <div class="contact-info">
                                <img src="../assets/MailIcon.png" alt="mail icon">
                                <p>
                                    sampletext@gmail.com
                                </p>
                            </div>
                            <div class="contact-info">
                                <img src="../assets/BuildingIcon.png" alt="building icon">
                                <p>
                                    Av. 18 de Julio 5555, Montevideo, Uruguay
                                </p>
                            </div>
                        </div>
                    </section>
                </section>
            </main>
        </div>
        <footer>
            <article class="footer">
                <a href="https://www.linkedin.com/"><img src="../assets/LinkedInIcon.png" alt="Linkedin icon"></a>
                <a href="https://www.instagram.com/"><img src="../assets/InstagramIcon.png" alt="Instagram icon"></a>
                <a href="https://www.facebook.com/"><img src="../assets/FacebookIcon.png" alt="Facebook icon"></a>
                <a href="https://twitter.com/"><img src="../assets/Twittericon.png" alt="Twitter icon"></a>
            </article>
            <p>Copyright © 2022 GigaTech Software Solutions. All rights reserved.</p>
        </footer>
    </body>
</html>