<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/login.css">
        <script src="../javascript/login.js"></script>
        <title>Login</title>
    </head>
    <body>
        <header>
            <h1>Trackgenix</h1>
        </header>
        <main>
            <section class="img-container">
                <img src="../assets/login-img.png" alt="">
            </section>
            <section class="form-container">
                <form action="">
                    <h2>Sign In</h2>
                    <input type="text" id="email" placeholder="Email">
                    <input type="password" id="password" placeholder="Password">
                    <button type="submit">Login</button>
                    <div class="mdl-form">
                        <label for="remember-me">
                            <input type="checkbox" name="remember-me"> Remember me
                        </label>
                        <h3>Forgot password?</h3>
                    </div>
                    <a href="#" class="social-buttons">Continue with Google</a>
                    <a href="#" class="social-buttons">Continue with Linkedin</a>
                    <p>New to Trackgenix? <a class="sign-up" href="#">Sign up now</a></p>
                </form>
            </section>
        </main>
    </body>
</html>