<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/sign-up.css">
        <title>Sign-up</title>
    </head>
    <body>
        <header>
            <h1>Trackgenix</h1>
        </header>
        <main>
            <section class="img-container">
                <img src="../assets/Signup.jpg" alt="">
            </section>
            <section class="form-container">
                <form action="">
                    <h2>Sign-up</h2>
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Last name">
                    <input type="text" placeholder="ID">
                    <input type="date" placeholder="Birth date">
                    <input type="text" placeholder="Phone">
                    <input type="text" placeholder="Address">
                    <input type="text" placeholder="City">
                    <input type="text" placeholder="Zip code">
                    <input type="emal" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <input type="password" placeholder="Confirm password">
                    <label for="terms-conditions">
                        <input type="checkbox" name="terms-conditions"> I agree to the terms and conditions
                    </label>
                    <button type="submit">Sign-up</button>
                    <p>Already have an account? <a class="sign-in" href="#">Sign in</a></p>
                </form>
            </section>
        </main>
    </body>
</html>