header {
    background-color: #373867;
    height: 380px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
}

header h1 {
    align-self: center;
    font-weight: 700;
    font-size: 64px;
    color: #fff;
}

header p {
    font-weight: bold;
    font-size: 10px;
    color: #000;
    align-self: flex-end;
    padding-right: 12px;
    margin-bottom: 5px;
}


.social-media-header {
    top: 37px;
    right: 43px;
    display: none;
} 

.dot-menu {
    display: flex;
    justify-content: center;
    padding: 20px 20px 15px 20px;
    width: 35px;
    height: 5px;
    margin-left: 300px;
}

.dot-menu .dot {
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background: #fff;
    margin: 0 2px;
}

.img-header img {
    width: 100%;
    height: 242px;
    border-radius: 0 0 77px 77px;
}

@media(min-width: 480px) {
    header {
        background-color: #373867;
        height: 192px;
        width: 100%;
        display: inline-flex;
        flex-direction: column;
    }

    header img {
        display: none;
    }
}

/* h1 {
    width: 655px;
    height: 121px;
    left: 399px;
    top: 90px;
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 150px;
    color: #FFFFFF;
}



header p {
    width: 150px;
    height: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}*/

